* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}

/* header section */
.header {
  height: 650px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header .header-content {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-content .navigation {
  width: 60px;
  background-color: rgba(255, 252, 252, 0.348);
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-content .navigation:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(7, 7, 7, 0.652);
  border: 2px solid white;
}

.header .header-content .navigation span {
  font-size: 25px;
}

.header .header-content .details {
  flex: 1;
  height: 40%;
  padding: 10px 10px 10px 10%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.header .header-content .details .title {
  background-color: rgba(211, 211, 211, 0.22);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 50px;
}

.header .header-content .details .category {
  background-color: rgba(211, 211, 211, 0.22);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

/* filter section */
.filter-content {
  padding: 10px;
  background-color: rgba(149, 149, 149, 0.268);
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.filter-content h3{
  margin-bottom: 10px;
  font-size: 14px;
}

.filter-content .filter,
.filter-content .pagination {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: lightgray;
  font-size: 14px;
  margin-bottom: 10px;
}

.filter-content .filter .checkbox {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 12px;
}

.filter-content .filter .checkbox:hover {
  color: green;
  font-weight: bold;
}

.filter-content .filter span {
  margin: 0 10px 0 5px;
}

.filter-content .pagination button{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  margin: 0 10px;
  font-size: 18px;
}

.filter-content .pagination select{
  width: 90px;
  height: 35px;
  text-align: center;
}

.filter-content .pagination button:hover{
  background-color: green;
  font-size: 20px;
}

/* sections movies */

.movies-grid{
  padding: 5px;
  background-color: rgba(149, 149, 149, 0.268);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.movies-grid .movie-card{
  cursor: ew-resize;
  width: 400px;
  height: 180px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.movies-grid .movie-card .image{
  flex: 1;
  height: 100%;
  border-radius: 10px;
}

.movies-grid .movie-card .details{
  flex: 1;
  padding: 0 5px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.movies-grid .movie-card .details h2{
  font-size: 18px;
  margin-bottom: 20px;
}

.movies-grid .movie-card .details .delete{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.movies-grid .movie-card .details .delete button{  
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid red;
  color: red;
  background-color: white;
}

.movies-grid .movie-card .details .delete button:hover{  
  border: 1px solid white;
  color: white;
  background-color: red;
}

.movies-grid .movie-card .details .like-bar{
  height: 35px;
  background-color: rgba(149, 149, 149, 0.268);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.movies-grid .movie-card .details .like-bar .like,
.movies-grid .movie-card .details .like-bar .dislike{
  min-width: 60px;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.movies-grid .movie-card .details .like-bar .like{
  border-right: 1px solid black;
  border-radius: 30px 0 0 30px;
}

.movies-grid .movie-card .details .like-bar .dislike{
  border-radius: 0 30px 30px 0;
}

.movies-grid .movie-card .details .like-bar .like:hover{
  background-color: rgb(120, 226, 120);
}

.movies-grid .movie-card .details .like-bar .dislike:hover{
  background-color: rgb(226, 53, 53);
}

footer {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

/* responsive media query start */
@media (max-width: 1104px) {
  .header {
    height: 500px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .header .header-content {
    justify-content: center;
    align-items: center;
  }
  
  .header .header-content .navigation {
    width: 40px;
    padding: 10px;
  }
  
  .header .header-content .navigation span {
    font-size: 28px;
  }
  
  .header .header-content .details {
    height: 60%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }
  
  .header .header-content .details .title {
    padding: 10px;
    font-size: 48px;
  }
  
  .header .header-content .details .category {
    padding: 10px;
    font-size: 26px;
  }
}

@media (max-width: 991px) {
  .header {
    height: 400px;
    padding: 8px;
    justify-content: center;
    align-items: center;
  }

  .header .header-content {
    justify-content: center;
    align-items: center;
  }
  
  .header .header-content .navigation {
    width: 36px;
    padding: 8px;
  }
  
  .header .header-content .navigation span {
    font-size: 28px;
  }
  
  .header .header-content .details {
    height: 60%;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
  }
  
  .header .header-content .details .title {
    padding: 8px;
    font-size: 46px;
  }
  
  .header .header-content .details .category {
    padding: 8px;
    font-size: 24px;
  }
}

@media (max-width: 947px) {
  .header {
    height: 380px;
    padding: 7px;
    justify-content: center;
    align-items: center;
  }

  .header .header-content {
    justify-content: center;
    align-items: center;
  }
  
  .header .header-content .navigation {
    width: 34px;
    padding: 7px;
  }
  
  .header .header-content .navigation span {
    font-size: 24px;
  }
  
  .header .header-content .details {
    height: 50%;
    padding: 7px;
    align-items: center;
    justify-content: space-between;
  }
  
  .header .header-content .details .title {
    padding: 7px;
    font-size: 44px;
  }
  
  .header .header-content .details .category {
    padding: 7px;
    font-size: 22px;
  }
}

@media (max-width: 690px) {
  .header {
    height: 350px;
    padding: 6px;
    justify-content: center;
    align-items: center;
  }

  .header .header-content {
    justify-content: center;
    align-items: center;
  }
  
  .header .header-content .navigation {
    width: 32px;
    padding: 6px;
  }
  
  .header .header-content .navigation span {
    font-size: 22px;
  }
  
  .header .header-content .details {
    height: 50%;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
  }
  
  .header .header-content .details .title {
    padding: 6px;
    font-size: 42px;
  }
  
  .header .header-content .details .category {
    padding: 6px;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .header {
    height: 300px;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }

  .header .header-content {
    justify-content: center;
    align-items: center;
  }
  
  .header .header-content .navigation {
    width: 30px;
    padding: 5px;
  }
  
  .header .header-content .navigation span {
    font-size: 20px;
  }
  
  .header .header-content .details {
    height: 50%;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
  }
  
  .header .header-content .details .title {
    padding: 5px;
    font-size: 40px;
  }
  
  .header .header-content .details .category {
    padding: 5px;
    font-size: 18px;
  }
}