@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Imperial+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}

/* header section */
.header {
  height: 650px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header .header-content {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-content .navigation {
  width: 60px;
  background-color: rgba(255, 252, 252, 0.348);
  border-radius: 20px;
  border: 2px solid gray;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-content .navigation:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(7, 7, 7, 0.652);
  border: 2px solid white;
}

.header .header-content .navigation span {
  font-size: 25px;
}

.header .header-content .details {
  flex: 1;
  height: 40%;
  padding: 10px 10px 10px 10%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

/* filter section */
.filter-content {
  height: max-content;
  margin: 20px;
  background-color: rgba(149, 149, 149, 0.268);
  border-radius: 10px;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-content-details,
.filter-pagination-details {
  width: max-content;
  height: 100px;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  margin-bottom: 10px;
  font-size: 14px;
}

.filter-content .filter,
.filter-content .pagination {
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: lightgray;
}

/* filter */
.filter-content .filter .checkbox-content {
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(168, 166, 166);
  font-weight: 500;
  font-size: 14px;
}

.filter-content .filter .checkbox-content:hover {
  border: 2px solid white;
  background-color: #6cbe45;
  color: white;
}

.filter-content .filter span {
  margin: 0 10px 0 5px;
}

/* Check box component */
.checkbox-wrapper:hover .check {
  stroke-dashoffset: 0;
}

.checkbox-wrapper {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.checkbox-wrapper .background {
  fill: lightgray;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper .stroke {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper .check {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  -appearance: none;
}

.checkbox-wrapper input[type=checkbox]:hover {
  cursor: pointer;
}

.checkbox-wrapper input[type=checkbox]:checked+svg .background {
  fill: #6cbe45;
}

.checkbox-wrapper input[type=checkbox]:checked+svg .stroke {
  stroke-dashoffset: 0;
}

.checkbox-wrapper input[type=checkbox]:checked+svg .check {
  stroke-dashoffset: 0;
}

/* pagination */

.filter-content .pagination button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: rgb(168, 166, 166);
  color: black;
  cursor: pointer;
  margin: 0 10px;
  font-size: 16px;
}

.filter-content .pagination button:hover {
  border: 2px solid white;
  background-color: #6cbe45;
}

.filter-content .pagination select {
  width: 90px;
  height: 35px;
  text-align: center;
}

/* sections movies */

.movies-grid {
  padding: 5px;
  background-color: rgba(149, 149, 149, 0.268);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.movies-grid .movie-card {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border: 1px solid rgb(88, 86, 86);
}

.movies-grid .movie-card .image {
  flex: 1;
  height: 100%;
  border-radius: 10px;
}

.movies-grid .movie-card .details {
  flex: 1;
  padding: 0 5px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.movies-grid .movie-card .details .title-cat{
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  flex: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  margin-bottom: 5px;
}

.movies-grid .movie-card .details h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.movies-grid .movie-card .details p {
  font-size: 16px;
}

.movies-grid .movie-card .details .like-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color: rgba(149, 149, 149, 0.268);
  border-radius: 30px;
  margin-bottom: 20px;
}

.movies-grid .movie-card .details svg,
.movies-grid .movie-card .details span {
  margin-right: 2px;
}

.movies-grid .movie-card .details .like-bar div{
  cursor: pointer;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(88, 86, 86);
}

.movies-grid .movie-card .details .like-bar div:hover{
  background: rgb(136, 129, 129);
}

.movies-grid .movie-card .details .like-bar .like{
  border-radius: 30px 0 0 30px;
  border-right: 1px solid rgb(162, 158, 158);
}

.movies-grid .movie-card .details .like-bar .dislike {
  border-radius: 0 30px 30px 0;
}

/* Button delete */
.delete-button-box {
  cursor: pointer;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 5px;
  background: #e02b2b;
  margin-bottom: 5px;
}

.delete-button-box:hover {
  background: #e74242;
}

button .text {
  color: white;
  font-weight: bold;
}

button .icon {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  visibility: hidden;
}

button svg {
  width: 15px;
  fill: #eee;
}

button:hover .text {
  color: transparent;
}

button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
  visibility: visible;
}

button:focus {
  outline: none;
}

button:active .icon svg {
  transform: scale(0.8);
}

footer {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

/* responsive media query start */
@media (max-width: 1104px) {
  .header {
    height: 500px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .header .header-content {
    justify-content: center;
    align-items: center;
  }

  .header .header-content .navigation {
    width: 40px;
    padding: 10px;
  }

  .header .header-content .navigation span {
    font-size: 28px;
  }

  .header .header-content .details {
    height: 60%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .header .header-content .details .title {
    padding: 10px;
    font-size: 48px;
  }

  .header .header-content .details .category {
    padding: 10px;
    font-size: 26px;
  }

  .filter-content .filter span {
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .header {
    height: 400px;
    padding: 8px;
    justify-content: center;
    align-items: center;
  }

  .header .header-content {
    justify-content: center;
    align-items: center;
  }

  .header .header-content .navigation {
    width: 36px;
    padding: 8px;
  }

  .header .header-content .navigation span {
    font-size: 28px;
  }

  .header .header-content .details {
    height: 60%;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
  }

  .header .header-content .details .title {
    padding: 8px;
    font-size: 46px;
  }

  .header .header-content .details .category {
    padding: 8px;
    font-size: 24px;
  }

  .filter-content .filter span {
    font-size: 12px;
  }
}

@media (max-width: 947px) {
  .header {
    height: 380px;
    padding: 7px;
    justify-content: center;
    align-items: center;
  }

  .header .header-content {
    justify-content: center;
    align-items: center;
  }

  .header .header-content .navigation {
    width: 34px;
    padding: 7px;
  }

  .header .header-content .navigation span {
    font-size: 24px;
  }

  .header .header-content .details {
    height: 50%;
    padding: 7px;
    align-items: center;
    justify-content: space-between;
  }

  .header .header-content .details .title {
    padding: 7px;
    font-size: 44px;
  }

  .header .header-content .details .category {
    padding: 7px;
    font-size: 22px;
  }

  .filter-content .filter span {
    font-size: 12px;
  }
}

@media (max-width: 690px) {
  .header {
    height: 350px;
    padding: 6px;
    justify-content: center;
    align-items: center;
  }

  .header .header-content {
    justify-content: center;
    align-items: center;
  }

  .header .header-content .navigation {
    width: 32px;
    padding: 6px;
  }

  .header .header-content .navigation span {
    font-size: 22px;
  }

  .header .header-content .details {
    height: 50%;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
  }

  .header .header-content .details .title {
    padding: 6px;
    font-size: 42px;
  }

  .header .header-content .details .category {
    padding: 6px;
    font-size: 20px;
  }

  .filter-content .filter span {
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .header {
    height: 300px;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }

  .header .header-content {
    justify-content: center;
    align-items: center;
  }

  .header .header-content .navigation {
    width: 30px;
    padding: 5px;
  }

  .header .header-content .navigation span {
    font-size: 20px;
  }

  .header .header-content .details {
    height: 50%;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
  }

  .header .header-content .details .title {
    padding: 5px;
    font-size: 40px;
  }

  .header .header-content .details .category {
    padding: 5px;
    font-size: 12px;
  }

  .filter-content .filter span {
    font-size: 10px;
  }
}
